<md-toolbar md-dialog-title color="primary">
    Login
    <span class="flex-spacer"></span>
    <button md-button md-dialog-close>&times;</button>
  </md-toolbar>

  <p>{{ user | json }}</p>
  
  <form novalidate  #loginForm="ngForm" (ngSubmit)="onSubmit()">
  
    <md-dialog-content>
      <p>
        <md-input-container  dividerColor="{{username.invalid && !username.pristine ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Username" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required appForbiddenName="Gourav Anand" minlength="2">
          <md-hint>
            <span [hidden]="username.pristine">
            <span [hidden]="!username.errors?.required">username is required</span>
             
            </span>
          </md-hint>
        </md-input-container>
        <md-input-container dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
          <input mdInput placeholder="Password" type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required>
          <md-hint>
            <span [hidden]="password.pristine">
            <span [hidden]="!password.errors?.required">password is required</span>
            </span>
          </md-hint>
        </md-input-container>
        <md-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</md-checkbox>
      </p>
    </md-dialog-content>
    <md-dialog-actions>
      <span class="flex-spacer"></span>
      <button md-button md-dialog-close>Cancel</button>
      <button type="submit" md-button class="background-primary text-floral-white" [disabled]="loginForm.form.invalid" >Login</button>
    </md-dialog-actions>
  </form>

  <!-- Here ngModel directive is helping in two way data binding -->