<div class="container"
    fxLayout="column"
    fxlayoutGap="10px">

    <!--this will be considered as one piece of unit fxFlex -->
    <!-- This code is only for the avatar image >
    <md-list fxFlex>
      <md-list-item *ngFor="let dish Of dishes">
        <img md-list-avatar  src={{dish.image}} alt={{dish.name}}>
        <h1 md-line>{{dish.name}}</h1>
        <p md-line>
          <span>{{dish.description}}</span>
        </p>
      </md-list-item>
    </md-list>-->

    <div fxFlex>
      <div>
        <h3>Menu</h3>
      </div>
    </div>

    <div fxFlex *ngIf="dishes">
        <md-grid-list cols="2" rowHeight="200px">
          <!-- here we have removed the (click)="onSelect(dish) we are going to use router"-->
          <md-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail',dish.id]">
            <img height="200px" src={{dish.image}} alt={{dish.name}}>
            <md-grid-tile-footer>
              <h1 md-line> {{dish.name | uppercase }}</h1>
            </md-grid-tile-footer>
          </md-grid-tile> 
        </md-grid-list>
      </div>
      <div [hidden]="dishes">
        <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
      </div>

      <!-- using a card component to show the selected dish ->
      <div fxFlex *ngIf="selectedDish">
          <md-card>
            <md-card-header>
              <md-card-title>
                <h3>{{selectedDish.name | uppercase}}</h3>
              </md-card-title>
            </md-card-header>
            <img md-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
            <md-card-content>
              <p>{{selectedDish.description}}
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>
        </div>-->
      
        <!-- we dont needfurther the below code. We are not going to use this code again to show
          the detail. rather we are going for another view for the componenet "" 
      <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
</div>