<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">
<div fxFlex ="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
          <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
    <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
    </div>
</div>
<div fxFlex="40">
    <md-list *ngIf="dish">
    <h3>Comments</h3>
    <md-list-item *ngFor="let comment of dish.comments">
      <h4 md-line> {{comment.comment}} </h4>
      <p md-line>{{comment.rating}} Stars</p>
      <p md-line>
        <span>--{{comment.author}} {{comment.date | date}} </span>
      </p>
    </md-list-item>
    <div [hidden]="dish">
      <md-spinner></md-spinner><h4>Loading . . . Please wait</h4>
    </div>
  </md-list>
  </div>
</div>